body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Заголовок (Header) */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #330000;
    padding: 3px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1001;
    border-radius: 8px;
    margin: 0px 0px 15px 0px;
}

/* Логотип */
.header .logo {
    font-size: 40px;
    font-family: 'Protest Revolution', sans-serif; /* Убедись, что шрифт доступен */
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
}

.nav a:hover {
    color: #ff4444;
    transform: scale(1.1);
}

.title {
    font-size: 2.5em;
    color: #ff0000;
    text-shadow: 2px 2px 5px #000;
}

.content {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.content h2 {
    color: #ff0000;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li::before {
    content: "•";
    color: #ff0000;
    margin-right: 10px;
}

/* Футер (Footer) */
.footer {
    background-color: #330000;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-top: 3px solid #660000;
    border-radius: 8px;
    margin-bottom: -20px;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #ff0000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: color 0.3s, transform 0.3s;
}

.footer-links a:hover {
    color: #fff;
    transform: scale(1.1);
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: #bbb;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links li {
    margin: 0;
}

.social-links a {
    color: #ff0000;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #fff;
}
