*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	}
	
    html.body{
        height: 100%;
        background: #000000;
        } 

        .content {
            color: rgb(255, 0, 0);
            width: 100%;
            height: 7%;
            background: #040404; 
            border-radius: 20px 20px 20px 20px;
            box-shadow: 0px 0px 15px 5px #000;
            padding-bottom: 15px;
            padding-top: 15px;
            margin-top: 20px;
            margin-bottom: 20px;
            }

            .soft-home-main1 {
            color: rgb(255, 0, 0);
            width: 100%;
            height: 7%;
            background: #040404; 
            border-radius: 20px 20px 20px 20px;
            box-shadow: 0px 0px 15px 5px #000;
            padding-bottom: 15px;
            padding-top: 15px;
            margin-top: 20px;
            margin-bottom: 20px;
            }

            .container-buttons-1 {
                display: flex;
                justify-content: space-between;
                margin-left: 13px;
              }

              .container-buttons-2 {
                display: flex;
                justify-content: space-between; 
                margin-left: 13px;
              }

              .container-buttons-3 {
                display: flex;
                justify-content: space-between; 
                margin-right: 630px;
                margin-left: 13px;
              }

              .container-buttons-4 {
                display: flex;
                justify-content: space-between; 
                margin-left: 13px;
              }

              .container-buttons-5 {
                display: flex;
                justify-content: space-between; 
                margin-left: 13px;
              }

              .container-inf-1 {
             padding-left: 13px;
             padding-right: 13px;
              }
